<div>
  <dialog-header title="Criar Produto" (dialogTitleAction)="handleDialogTitleAction($event)"></dialog-header>

  <!-- ! CONTENT -->
  <div class="p-6 w-130">
    <form [formGroup]="newProductForm">
      <div class="grid grid-cols-2 gap-2">

        <div class="col-span-2">
          <mat-form-field class="w-full">
            <mat-label>Nome</mat-label>
            <input [formControlName]="'name'" type="text" matInput />
          </mat-form-field>
        </div>

        <div class="col-span-2">
          <mat-form-field class="w-full">
            <mat-label>Descrição</mat-label>
            <input [formControlName]="'description'" type="text" matInput />
          </mat-form-field>
        </div>

        <div class="col-span-2">
          <mat-form-field class="w-full">
            <mat-label>Categoria</mat-label>
            <input [formControlName]="'category'" type="text" matInput />
          </mat-form-field>
        </div>

        <div class="">
          <mat-form-field class="w-full">
            <mat-label>Preço</mat-label>
            <input [formControlName]="'price'" type="number" matInput />
          </mat-form-field>
        </div>

      </div>
    </form>
  </div>


  <dialog-actions [actions]="actions" (actionEvent)="dialogActionsHandler($event)"></dialog-actions>
</div>
