@use '@angular/material' as mat;

#toolbar {
  @include mat.toolbar-overrides((container-background-color: var(--backg2),
      container-text-color: var(--primary-color),
    ));
}

:host {
  width: 100%;
}

.home-container {
  background-color: var(--backg3);
}
