
<div class="wrapper flex flex-col absolute top-0 left-0 right-0 bottom-0 gap-1">
  <div class="tabgrid flex-1 overflow-y-auto border border-[var(--secondary-color)] rounded-md">
    <table class="w-full h-full text-left rtl:text-right overflow-x-auto text-nowrap">
      <thead class="w-full h-11 sticky top-0 z-10">
        <tr class="bg-[var(--secondary-color)]">
          @for(column of columns; track $index){
            <th scope="col" class="cursor-pointer p-4 transition-colors hover:bg-[var(--backg3-hover)] ">
              <p
                class="antialiased font-sans text-sm flex items-start justify-between font-normal leading-none tracking-wider text-[var(--accent-contrast)]">
                {{column}}
              </p>
            </th>
          }
          <th scope="col" class="px-6 py-3 text-[var(--accent-contrast)] sticky right-0 bg-[var(--secondary-color)]" >
            Actions
          </th>
        </tr>
      </thead>

      <tbody class="tbody bg-white divide-y divide-gray-200 text-sm overflow-y-scroll z-0">
        @for(row of dataSource; track $index){
        <tr class="hover:!bg-blue-50 h-[50px]">

            @for(column of columns; track $index){
              <td class="px-4 py-4 h-14">{{row[column]}}</td>
            }

            <!--! Coluna fixa - Ações da Tabela  -->
            <td class="flex items-center px-6 py-4 sticky right-0 bg-[var(--backg3)]">
              <div class="text-blue-400 cursor-pointer"(click)="updateRecord(row)"><ng-icon  [svg]="editIcon" size="26" /></div>
              <div class="text-red-400 cursor-pointer" (click)="deleteRecord(row)"><ng-icon [svg]="removeIcon" size="26" /></div>
            </td>
        </tr>
        }
        <!--! Preencher o espaço de tabelas com linhas em branco-->
        <tr class="h-full bg-white w-full">
          @for( col of columns; track col){
            <td class="bg-white"></td>
          }
        </tr>
      </tbody>
    </table>
  </div>
</div>
